# NetBeans specific
/nbproject/
/nbbuild/
/dist/
/nbdist/
/build/
/nbmetadata/

# Compiled files
*.class
*.jar
*.war
*.ear
*.zip

# Logs and temporary files
*.log
*.cache
*.bak

# Other NetBeans project files
nb-configuration.xml
build.xml

# macOS specific
.DS_Store

# IDE-specific files (optional, depending on your IDE and preferences)
/.idea/
/.vscode/
/eclipse/
